p{
    font-size: 20px;
}

ul {
  list-style: none; /* Remove bullets */
}



.column-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2%;
}


.column {
    margin: auto; 
    /* width: 20%;  */
    height: 50px;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    display:inline-block;
    justify-content: center; /* space-between; */
    align-items: center;
    align-content: center;
    text-align: center;
     /*  Center horizontally using margin */

}

#navbar_rectangle {
  background-color: #d3cece;
  border-radius: 50px; /* Add rounded corners to the border */
  border: 3px solid #2b75c5; /* Add a border around the search container */
  align-items: center;
  text-align: center;
  font-size: 15px;
  height: 100px;

}


#column_Instruction {
    background-color: #ffffff;  
    border-top: #000;
    width:200px;
  }

#column_all_Classes {
  background-color: #ffffff;
  border-bottom: #000;
}

#column_selected_Classes {
    background-color: #ffffff;
    
  }
  
#column_Costs {
    background-color: #ffffff;
}

#column_Resources {
    background-color: #ffffff;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height : 475px;
  overflow: auto
}

.search-container {
  border: 2px solid #007BFF; /* Add a border around the search container */
  border-radius: 5px; /* Add rounded corners to the border */
  padding: 10px;
  margin-bottom: 10px;
}

.clear_rectangle {
  width: 450px;
  height: 475px;
  background-color: transparent;
  text-align: center;
  border: 1px solid #000;
  font-size: 56px;
}



.rectangle {
  width: 800px;
  height: 80px;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  display: flex; /* Use flexbox to center both horizontally and vertically */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border: 1px solid #000;
  font-size: 48px;
}

.custom-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
}

.search-container {
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#itemList {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#itemList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#itemList li:last-child {
  border-bottom: none;
}

#itemList li:hover {
  background-color: #f0f0f0;
}




.english-department {
  color: #2424FF /* or any color/style you prefer for English department */
  /* Add more CSS styles as needed */
}

.science-department {
  color: #0E5200; /* or any color/style you prefer for Science department */
  /* Add more CSS styles as needed */
}
.math-department {
  color: #A81515; /* or any color/style you prefer for English department */
  /* Add more CSS styles as needed */
}

.language-department {
  color: #950C97; /* or any color/style you prefer for Science department */
  /* Add more CSS styles as needed */
}

.history-department {
  color: #8E3F15; /* or any color/style you prefer for Science department */
  /* Add more CSS styles as needed */
}

.totalCost {
  position:absolute;
  bottom:0;
  right:0;
}

